@model Event_Media_Hub_Group_Project.Models.EventDto

@{
    ViewData["Title"] = "Confirm Delete"; // Sets the page title
}

<h1>Confirm Delete</h1> <!-- Heading for the page -->
<!-- Main container for the confirmation form -->
<div class="row justify-content-center">
    <div class="col-md-8">
        <!-- Card that contains the confirmation details -->
        <div class="card">
            <div class="card-header">
                <!-- Header of the card, asking for confirmation -->
                <h5>Are you sure you want to delete this event?</h5>
            </div>
            <div class="card-body">
                <h4>Event Details</h4> <!-- Subheading indicating that event details will be shown -->
                <hr /> <!-- Horizontal line to separate the event details from other content -->
                <!-- Definition list to display the event's details -->
                <dl class="row">
                    <dt class="col-sm-3">
                        <!-- Definition term for Event Name -->
                        @Html.DisplayNameFor(model => model.EventName)
                    </dt>
                    <dd class="col-sm-9">
                        <!-- Definition description for Event Name -->
                        @Html.DisplayFor(model => model.EventName)
                    </dd>

                    <dt class="col-sm-3">
                        <!-- Definition term for Event Date -->
                        @Html.DisplayNameFor(model => model.Date)
                    </dt>
                    <dd class="col-sm-9">
                        <!-- Definition description for Event Date -->
                        @Html.DisplayFor(model => model.Date)
                    </dd>

                    <dt class="col-sm-3">
                        <!-- Definition term for Event Description -->
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-9">
                        <!-- Definition description for Event Description -->
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt class="col-sm-3">
                        <!-- Definition term for Event Location -->
                        @Html.DisplayNameFor(model => model.LocationId)
                    </dt>
                    <dd class="col-sm-9">
                        <!-- Definition description for Event Location -->
                        @Html.DisplayFor(model => model.LocationId) - @Html.DisplayFor(model => model.LocationName)
                    </dd>

                    <dt class="col-sm-3">
                        <!-- Definition term for User ID -->
                        @Html.DisplayNameFor(model => model.UserId)
                    </dt>
                    <dd class="col-sm-9">
                        <!-- Definition description for User ID -->
                        @Html.DisplayFor(model => model.UserId) - @Html.DisplayFor(model => model.UserName)
                    </dd>
                </dl>

                <!-- Form to handle the deletion of the event -->
                <form asp-action="Delete" method="post" asp-route-id="@Model.EventId">
                    <!-- Hidden field to store the Event ID for deletion -->
                    <input type="hidden" asp-for="EventId" />
                    <div class="form-group">
                        <!-- Delete button to submit the form and delete the event -->
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </div>
                </form>

                <!-- Link to navigate back to the list of events -->
                <div class="form-group mt-3">
                    <a asp-action="List" class="btn btn-primary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

