@model Event_Media_Hub_Group_Project.Models.EventDto

@{
    ViewData["Title"] = "Confirm Delete";
}

<h1>Confirm Delete</h1>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5>Are you sure you want to delete this event?</h5>
            </div>
            <div class="card-body">
                <h4>Event Details</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.EventName)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.EventName)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Date)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Date)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.LocationId)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.LocationId) - @Html.DisplayFor(model => model.LocationName)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.UserId)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.UserId) - @Html.DisplayFor(model => model.UserName)
                    </dd>
                </dl>

                <form asp-action="Delete" method="post" asp-route-id="@Model.EventId">
                    <input type="hidden" asp-for="EventId" />
                    <div class="form-group">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </div>
                </form>

                <div class="form-group mt-3">
                    <a asp-action="List" class="btn btn-primary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
