@model Event_Media_Hub_Group_Project.Models.EventDto

@{
    ViewData["Title"] = "Event Details";
}

<h1>Event Details</h1>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5>Event Information</h5>
            </div>
            <div class="card-body">
                <h4>Event Details</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.EventName)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.EventName)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Date)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Date)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.LocationName)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.LocationName)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.UserName)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.UserName)
                    </dd>
                </dl>
            </div>
            <div class="card-footer text-right">
                <a asp-action="Edit" asp-route-id="@Model.EventId" class="btn btn-primary btn-sm">Edit</a> |
                <a asp-action="List" class="btn btn-secondary btn-sm">Back to List</a>
            </div>
        </div>
    </div>
</div>
