@model Event_Media_Hub_Group_Project.Models.PhotoDto
@{
    ViewData["Title"] = "Photo Details";
}

<h1 class="mb-4">Photo Details</h1>

<div class="card">
    <div class="card-header">
        <h4>Photo</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.PhotoId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PhotoId)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.UploadDate)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.UploadDate)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.UserId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.UserId)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.UserName)
            </dd>
        </dl>

        <div class="d-flex justify-content-between mt-3">
            <a asp-action="Edit" asp-route-id="@Model.PhotoId" class="btn btn-warning">Edit</a>
            <a asp-action="List" class="btn btn-primary">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
