@model Event_Media_Hub_Group_Project.Models.CategoryDto
@{
    ViewData["Title"] = "Category Details";
}

<h1 id="category-details-title">Category Details</h1>

<div id="category-details-card" class="card">
    <div class="card-header">
        <h4 id="category-title">Category</h4>
    </div>
    <div class="card-body">
        <hr />
        <dl class="row" id="category-info">
            <dt class="col-sm-2" id="category-id-label">
                @Html.DisplayNameFor(model => model.CategoryId)
            </dt>
            <dd class="col-sm-10" id="category-id-value">
                @Html.DisplayFor(model => model.CategoryId)
            </dd>

            <dt class="col-sm-2" id="category-name-label">
                @Html.DisplayNameFor(model => model.CategoryName)
            </dt>
            <dd class="col-sm-10" id="category-name-value">
                @Html.DisplayFor(model => model.CategoryName)
            </dd>
        </dl>
    </div>
    <div class="card-footer">
        <a asp-action="Edit" asp-route-id="@Model.CategoryId" class="btn btn-edit" id="edit-button">Edit</a> |
        <a asp-action="List" class="btn btn-primary" id="back-to-list-button">Back to List</a>
    </div>
</div>
