@model Event_Media_Hub_Group_Project.Models.LocationDto
@{
    ViewData["Title"] = "Location Details";
}

<h1>Location Details</h1>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>Location Information</h4>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.LocationId)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.LocationId)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.LocationName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.LocationName)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Address)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Capacity)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Capacity)
                    </dd>
                </dl>

                <div class="form-group">
                    <a asp-action="Edit" asp-route-id="@Model.LocationId" class="btn btn-primary">Edit</a>
                    <a asp-action="List" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
